@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');

body {
  margin: 0%;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.flex-toolbar {
  display: flex;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background: #1c1a19;
  background-image: url('resources/Menu-button/bg-image.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.menu-flex {
  display: flex;
  padding: 8px;
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  top: calc(50% - 44px / 2);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.logo-name p {
  padding: 12px 12px;
  margin: 0%;
}

#primary-text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
}

#primary-text h1 {
  margin: 0%;
}

#supporting-text {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

#supporting-text h2 {
  margin: 5% 0%;
  margin-bottom: 0%;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.description p {
  margin: 0%;
  padding-right: 10%;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media ul {
  display: flex;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.recent-works-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px;
  gap: 80px;
}

#my-recent-works {
  display: flex;
  align-items: center;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid #212121;
}

#my-recent-works h2{
  font-size: 40px;
  color: #1c1a19;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
  margin: 0px 24px;
}

.grid-item1 {
  gap: 24px;
}

.featured-work {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-featured {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.featured-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.featured-tags ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 12px;
  padding: 0%;
  margin: 0px;
}

.featured-tags ul li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.featured-btn {
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: none;
  margin-right: 240px;
}

.featured-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.featured-btn:active {
  background-color: #e05304;
  color: #f4f1f0
}

.featured-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.work-post {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(resources/images/workBG.svg);
}

.title-work {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 80px 16px 12px 16px;
}

.work-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0px 16px;
}

.work-tags {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
}

.work-tags ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 12px;
  padding: 0%;
  margin: 0px 16px 22px 16px;
}

.work-tags ul li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.work-btn {
  align-items: center;
  text-align: center;
  letter-spacing: 00.03em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  color: #fff;
  padding: 12px;
  border: none;
}

.work-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.work-btn:active {
  background-color: #e05304;
  color: #f4f1f0
}

.work-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.about-me {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  gap: 24px;
  background: #1c1a19;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(resources/images/about-me-BG.svg);
}

.about-me-text {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
  margin: 0px;
  bottom: 0px;

}

.about-me-skills {
  display: flex;
  flex-direction: column;
  padding: 0px 24px 0px 24px;
  gap: 24px;
  background: #1c1a19;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.skills-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  color: #fff;
}

.language-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-block .language-block ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  gap: 32px;
}

.skills-block .language-block ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
  gap: 32px;
}

.skills-block .language-block .lan-title {
  font-family: 'Meera Inimai', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-right: 30px;
}

.frameworks {
  font-family: 'Inter', sans-serif !important;
}
