@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');

body {
  margin: 0%;
}

.flex-toolbar {
  display: flex;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
}

.upper-nav-desktop {
  display: none;
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background: #1c1a19;
  background-image: url('resources/Menu-button/bg-image.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}



.menu-flex {
  display: flex;
  padding: 8px;
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-left: 24px;
  top: calc(50% - 44px / 2);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.logo-name p {
  padding: 12px 12px;
  margin: 0%;
}

#primary-text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
}

#primary-text h1 {
  margin: 0%;
}

#supporting-text {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

#supporting-text h2 {
  margin: 5% 0%;
  margin-bottom: 0%;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.description p {
  margin: 0%;
  padding-right: 10%;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: left;
}

.social-media.footer {
  justify-content: center;
}

.social-media ul {
  display: flex;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.recent-works-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 80px;
}

#my-recent-works {
  display: flex;
  align-items: center;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid #212121;
  margin-bottom: 80px;
}

#my-recent-works h2 {
  font-size: 40px;
  color: #1c1a19;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
}

.grid-item1 {
  gap: 24px;
}

.featured-work {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-featured {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0;
}

.featured-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 0;
}

.featured-tags ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 12px;
  padding: 0%;
  margin: 0;
}

.featured-tags ul li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.featured-btn {
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: none;
  margin-right: 240px;
  width: 161px;
  height: 48px;
}

.featured-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.featured-btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.featured-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.work-post {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(resources/images/workBG.svg);
}

.title-work {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 80px 16px 12px 16px;
}

.work-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0 16px;
}

.work-tags {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}

.work-tags ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 12px;
  padding: 0%;
  margin: 0 16px 22px 16px;
}

.work-tags ul li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.work-btn {
  align-items: center;
  text-align: center;
  letter-spacing: 00.03em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  color: #fff;
  padding: 12px;
  border: none;
}

.work-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.work-btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.work-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.about-me {
  display: flex;
  padding: 120px 24px;
  gap: 24px;
  background: #1c1a19;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(resources/images/about-me-BG.svg);
}

.about-me-text {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0;
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
  margin: 0;
  bottom: 0;
  width: 100%;
}

.about-me-skills {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  gap: 24px;
  background: #1c1a19;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.skills-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  color: #fff;
}

.language-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-me-form ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.contact-me-form ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer ul {
  gap: 21px;
}

.skills-block .language-block ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  gap: 32px;
}

.skills-block .language-block ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
  gap: 32px;
}

.skills-block .language-block .lan-title {
  font-family: 'Meera Inimai', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.frameworks {
  font-family: 'Inter', sans-serif !important;
}

.contact-text {
  padding: 120px 24px 58px 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 24px 124px 24px;
}

.about-me-btn {
  margin: 0;
}

.contact-me-form ul li input {
  width: 100%;
  height: 18px;
  padding: 15px 16px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-me-form ul li textarea {
  width: 100%;
  padding: 12px;
  background: #fbf8f7;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.footer-line {
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
}

.line-responsive {
  display: none;
}

.works-wrapper {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-me-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bg-image {
  display: none;
}

.footer-line-desktop {
  display: none;
}

.bg-image-header {
  display: none;
}

@media (min-width: 768px) {
  .line-responsive {
    display: block;
    border: 1px solid #212121;
    width: 100%;
  }

  #my-recent-works{
    border-bottom: none;
    width: 100%;
  }

  .headline-section {
    flex-direction: row-reverse;
    background-image: none;
    padding: 0;
    justify-content: flex-end;
  }
  
  .social-media {
    margin-right: 60px;
  }

  .recent-works-section {
    align-items: baseline;
    overflow: hidden;
  }
}

@media (min-width: 768px){
  .logo-name {
    margin: 16px auto 16px 142px;
  }

  .menu-flex #menu{
    display: none;
  }

  .upper-nav-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .upper-nav-desktop ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    gap: 32px;
    margin-right: 142px;
  }

  .modifier {
    display: flex;
    flex-direction: column;
  }

  .social-media ul {
    flex-direction: column;
  }

  #my-recent-works h2 {
    flex: none;
    margin-right: 24px;
  }

  .works-wrapper {
    align-items: baseline;
    margin: 0 5%;
  }

  .featured-work {
    flex-direction: row;
    gap: 24px;
  }

  .featured-work img {
    width: 684px;
    height: 448px;
  }
  
  .featured-btn {
    width: 161px;
    height: 48px;
  }

  .grid-container {
    grid-template-columns: auto auto auto;
  }

  .grid-item1 {
    grid-column: 1 / span 3;
  }

  .description p {
    width: 566px;
  }

  .about-me-block {
    margin: 0 5%;
  }

  .about-me {
    background-image: none;
    padding: 120px 0;
  }

  .bg-image {
    display: flex;
    overflow: hidden;
  }

  .skills-block {
    flex-direction: row;
    margin: 0 5%;
    gap: 206px;
    padding: 120px 0;
  }

  .about-me-skills {
    align-items: center;
  }

  .skills-block .language-block ul {
    align-items: baseline;
  }

  .contact-me-block {
    display: flex;
    margin-top: 130px;
  }

  .contact-text {
    width: 40%;
    text-align: left;
    padding: 30px 0 0 10%;
  }

  .contact-me-form {
    width: 60%;
    margin: 0 10% 124px 24px;
  }

  .contact-me-form ul li {
    justify-content: flex-start;
  }

  .social-media.footer ul {
    flex-direction: row;
  }

  .social-media.footer {
    margin: 0 0 16px 0;
  }

  .footer-line {
    display: none;
  }

  .footer-line-desktop {
    height: 1px;
    background: #dfe1e6;
    display: block;
    margin-bottom: 15px;
  }

  .bg-image-header {
    display: flex;
    overflow: hidden;
  }

  .header-content-responsive {
    display: flex;
    flex-direction: row-reverse;
    padding: 250px 15px;
  }

}